@font-face {
  font-family: "Lexend";
  src: url("../assets/font/Lexend/Lexend-VariableFont_wght.ttf")
    format("truetype");
  /*
    Weigth: 100 - 900
    100 - Thin
    200 - ExtraLight
    300 - Light
    400 - Regular
    500 - Medium
    600 - SemiBold
    700 - Bold
    800 - ExtraBold
    900 - Black
  */
}

body {
  /*ORDEN*/
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /*TAMAÑO*/
  width: 100%;
  min-height: 100vh;

  /*OTROS*/
  overflow-x: hidden;
  background-color: #eeebe4;
}

/*ESTILOS ESTANDAR TEXTO*/
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #161616;
}

h1 {
  color: #4d82bc;
  font-size: 30px;
}
h2 {
  color: #84b6f4;
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

p,
a {
  font-size: 14px;
  font-weight: 400;
}

/*ESTILOS HEADER*/
header {
  position: relative;

  /*ORDEN*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3px;

  /*TAMAÑO*/
  width: 100%;
  height: 10%;

  /*COLORES*/
  background-color: #c4dafa;
}

header h1 {
  padding: 3px;

  text-shadow: 1px 1px 2px #4d82bc;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fdfd96;
}

#current-page-title {
  color: #161616;
  background-color: #84b6f4;
  border-radius: 3px;
  padding: 5px;

  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;

  filter: drop-shadow(0 4px 5px #00000025);
}

/*MENU NAVEGACION HEADER*/
.menu-navegacion {
  /*ORDEN*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.menu-navegacion nav {
  position: absolute;
  top: 110%;
  left: 20vw;
  z-index: 10;

  /*TAMAÑO*/
  width: 60%;
  height: auto;

  /*COLORES*/
  background-color: #84b6f4;
  border: 2px solid #4d82bc;
  border-radius: 10px;
  padding: 10px;

  filter: drop-shadow(0 10px 4px #00000030);
}

.menu-navegacion ul {
  /*ORDEN*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-navegacion a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fdfd96;
  transition: all 0.3s ease;
}

.menu-navegacion a:hover {
  color: #f0f07c;
  text-shadow: 1px 1px 2px #4d82bc;
  transform: scale(1);
}

/*MENU HAMBURGESA*/
.menu-toggle-input {
  display: none;
}

.menu-toggle-label {
  background-color: #84b6f4;
  border: none;
  border-radius: 100%;

  padding: 5px;

  font-size: 1.1rem;
  padding: 0.5rem 1rem;

  text-align: center;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 4px 5px #00000025);

  transition: background-color 0.3s ease;
}

.menu-toggle-label:hover {
  background-color: rgb(70, 128, 191);
}

/*Cuando la CHECKBOX del menu-toggle-input esta activado se muestra el menu*/
.menu-toggle-input:checked + .menu-toggle-label + nav {
  display: block;
}

.menu-toggle-input:checked + .menu-toggle-label {
  background-color: #f0f07c;
}

/*FOOTER*/
footer {
  /*ORDEN*/
  margin-top: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;

  background-color: #c4dafa;

  /*TAMAÑO*/
  width: 100%;
  height: 130px;

  padding: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.contacto-info-container {
  display: flex;
  align-items: center;

  text-align: left;

  width: 70%;
  height: 100px;

  border-radius: 1px;
  background-color: #84b6f4;
  color: #ffffff;

  filter: drop-shadow(0 5px 5px #0000203c);
}

.contacto-info-container ul {
  font-size: 13px;
  padding-left: 25px;
}

.contacto-info-container a {
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
}

#irInicio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 30px;

  text-decoration: none;
  text-align: center;

  background-color: #f0f07c;
  border-radius: 10px;

  cursor: pointer;

  filter: drop-shadow(0 2px 4px #0000203c);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#irInicio:hover {
  transform: scale(1.05);
  background-color: #fdfd96;
}
