/*INTRODUCTION*/
#intro-liga{
    padding: 10px 20px;
}
#intro-liga h1{
    font-size: 34px;
}
#intro-liga p{
    font-size: 14px;
    max-width: 600px;
}

/*EQUIPOS PRINCIPALES*/
.equipos-principales{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #c4dafa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.48);
}

.equipos-principales h3{
    color: #4d82bc;
    font-weight: 500;
    letter-spacing: 1px;
}
.equipos-principales ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equipos-principales li{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.equipos-principales img{
    object-fit: contain;
    border-radius: 100%;
}
/*Videos liga*/
.videos-liga{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container video{
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 350px;
}


/*LAPTOPS DESKTOP...*/
@media (min-width: 1024px) {
    /*EQUIPOS PRINCIPALES*/
    .equipos-principales{
        padding: 30px 40px;
    }

    /*Videos liga*/
    .videos-liga{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}