.noticias-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
    justify-items: center;
    gap:20px;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    width: 80%;

    background-color: #D7D3CA9E;

    font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Hay que estilizar específicamente el header  de la noticia para evitar conflictos con el header global*/
.noticia header{
    background-color: transparent;
    margin: 0;
}

.noticia header h4{
    font-size: 16px;
    font-weight: 600;
    padding:15px;
}
.noticia footer{
    display: flex;
    justify-content: flex-end;
    height: auto;
    background-color: transparent;
    font-size: 10px;
}

.noticia figure img{
   border-radius: 15px;
}

.noticia p{
    text-align: justify;
}

@media (min-width: 767px) {
    .noticia{
        width: 60%;
    }

    .noticia figure img{
        width: 320px;
        height: 210px;
    }
}

@media (min-width: 1024px) {
    .noticias-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .noticia{
        width: 80%;
    }
}